/* fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif; */
    font-family: "Cairo", sans-serif;
    direction: rtl;
    
    

}

body{
    background-color: var(--bg-dark);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

input{
    border: none;
    outline: none;
}

.input-wrapper{
    position: relative;
}